{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}ECS3Symm-names{% endblock %}

{% block body_base %}
        <div class="container">
        <table class="table table-striped" >
        <tr><td>abubakara</td><td>Abubakar Danjuma Abdullahi</td></tr>
        <tr><td>aleksandarv</td><td> Aleksandar Višnjevac</td></tr>
        <tr><td>aleksandram</td><td> Aleksandra Maršavelski</td></tr>
        <tr><td>alenb</td><td> Alen Bjelopetrović</td></tr>
        <tr><td>anam</td><td> Ana Mikleušević</td></tr>
        <tr><td>anas</td><td> Ana Šantić</td></tr>
        <tr><td>andjelap</td><td> Anđela Pustak</td></tr>
        <tr><td>andreasp</td><td> Andreas Pein</td></tr>
        <tr><td>andreasr</td><td> Andreas Roodt</td></tr>
        <tr><td>andrei</td><td> Andrei-Gabriel Tomulescu</td></tr>
        <tr><td>angelaa</td><td> Angela Altomare</td></tr>
        <tr><td>annam</td><td> Anna Moliterni</td></tr>
        <tr><td>anthonyl</td><td> Anthony Linden</td></tr>
        <tr><td>arija</td><td> Arij Addaraidi</td></tr>
        <tr><td>aureliaf</td><td> Aurelia Falcicchio</td></tr>
        <tr><td>benediktd</td><td> Benedikt Daurer</td></tr>
        <tr><td>biserkak</td><td> Biserka Kojic-Prodic</td></tr>
        <tr><td>bostjanz</td><td> Boštjan Žener</td></tr>
        <tr><td>brahimik</td><td> Brahimi Khadidja</td></tr>
        <tr><td>carmelog</td><td> Carmelo Giacovazzo</td></tr>
        <tr><td>carolined</td><td> Caroline Davies</td></tr>
        <tr><td>chiarac</td><td> Chiara Cappuccino</td></tr>
        <tr><td>christera</td><td> Christer Aakeroy</td></tr>
        <tr><td>christinek</td><td> Christine Koptik</td></tr>
        <tr><td>corradoc</td><td> Corrado Cuocci</td></tr>
        <tr><td>daniela</td><td> Daniel Antonio</td></tr>
        <tr><td>dariol</td><td> Dario Lapić</td></tr>
        <tr><td>darkov</td><td> Darko Vušak</td></tr>
        <tr><td>dmitriyy</td><td> Dmitriy Yatsenko</td></tr>
        <tr><td>dorotam</td><td> Dorota Matras</td></tr>
        <tr><td>dumisanik</td><td> Dumisani V. (Tom) Kama</td></tr>
        <tr><td>edouardb</td><td> Edouard Boivin</td></tr>
        <tr><td>ekaterinas</td><td> Ekaterina Smirnova</td></tr>
        <tr><td>eliskas</td><td> Eliska Skorepova</td></tr>
        <tr><td>eugenl</td><td> Eugen Libowitzky</td></tr>
        <tr><td>fatimaha</td><td> Fatimah Alqahtani</td></tr>
        <tr><td>flaviof</td><td> Flavio Fanelli</td></tr>
        <tr><td>florianas</td><td> Floriana Spinelli</td></tr>
        <tr><td>gretaa</td><td> Greta Marie Assmann</td></tr>
        <tr><td>grzegorzs</td><td> Grzegorz Świderski</td></tr>
        <tr><td>gwilhermn</td><td> Gwilherm Nenert Nenert</td></tr>
        <tr><td>igors</td><td> Igor Sabljić</td></tr>
        <tr><td>isabelp</td><td> Isabel Povedano Fuentes</td></tr>
        <tr><td>ivanak</td><td> Ivana Kekez</td></tr>
        <tr><td>ivank</td><td> Ivan Kodrin</td></tr>
        <tr><td>janetl</td><td> Janet Linden</td></tr>
        <tr><td>janezp</td><td> Janez Plavec</td></tr>
        <tr><td>jasminkap</td><td> Jasminka Popović</td></tr>
        <tr><td>jernejs</td><td> Jernej Stare</td></tr>
        <tr><td>joyceb</td><td> Joyce Buchan</td></tr>
        <tr><td>jozeg</td><td> Jože Grdadolnik</td></tr>
        <tr><td>junyul</td><td> Junyu Li</td></tr>
        <tr><td>karolinag</td><td> Karolina Gucunski</td></tr>
        <tr><td>kresimirm</td><td> Kresimir Molcanov</td></tr>
        <tr><td>kristijank</td><td> Kristijan Krekić</td></tr>
        <tr><td>kristinas</td><td> Kristina Smokrović</td></tr>
        <tr><td>laras</td><td> Lara Štajner</td></tr>
        <tr><td>lidijaa</td><td> Lidija Androš Dubraja</td></tr>
        <tr><td>lukasp</td><td> Lukas Palatinus</td></tr>
        <tr><td>marcr</td><td> Marc Raventos</td></tr>
        <tr><td>marijanad</td><td> Marijana Đaković</td></tr>
        <tr><td>marinag</td><td> Marina Grabar Branilović</td></tr>
        <tr><td>markor</td><td> Marko Rodić</td></tr>
        <tr><td>markot</td><td> Marko Tomin</td></tr>
        <tr><td>martinav</td><td> Martina Vrankić</td></tr>
        <tr><td>martinb</td><td> Martin Babor</td></tr>
        <tr><td>martinl</td><td> Martin Lutz</td></tr>
        <tr><td>matijau</td><td> Matija Uršič</td></tr>
        <tr><td>matijav</td><td> Matija Vukovinski</td></tr>
        <tr><td>matthewc</td><td> Matthew  Conroy</td></tr>
        <tr><td>mihaelat</td><td> Mihaela Tuksar</td></tr>
        <tr><td>mirjanab</td><td> Mirjana Bijelić</td></tr>
        <tr><td>mirjanar</td><td> Mirjana Radanović</td></tr>
        <tr><td>mladenb</td><td> Mladen Borovina</td></tr>
        <tr><td>monab</td><td> Mona Binkadem</td></tr>
        <tr><td>monikak</td><td> Monika  Kalinowska</td></tr>
        <tr><td>natalial</td><td> Natalia Lekontceva</td></tr>
        <tr><td>noraha</td><td> Norah Alsaiari</td></tr>
        <tr><td>oleksiis</td><td> Oleksii Shemchuk</td></tr>
        <tr><td>olesiak</td><td> Olesia Karakulina</td></tr>
        <tr><td>olufunsoa</td><td> Olufunso Olumide Abosede</td></tr>
        <tr><td>orbetta</td><td> Orbett Alexander</td></tr>
        <tr><td>patriciad</td><td> Patricia Delgado-Martínez</td></tr>
        <tr><td>patrika</td><td> Patrik Ahvenainen Ahvenainen</td></tr>
        <tr><td>patrykr</td><td> Patryk Rzepiński</td></tr>
        <tr><td>paulc</td><td> Paul Carr</td></tr>
        <tr><td>pault</td><td> Paul Tinnemans</td></tr>
        <tr><td>peterw</td><td> Peter Wood</td></tr>
        <tr><td>renatas</td><td> Renata Świsłocka</td></tr>
        <tr><td>robertk</td><td> Robert Katava</td></tr>
        <tr><td>rolaa</td><td> Rola Alaeq</td></tr>
        <tr><td>romaing</td><td> Romain Gautier</td></tr>
        <tr><td>romans</td><td> Roman Svetogorov</td></tr>
        <tr><td>rongh</td><td> Rong Hao</td></tr>
        <tr><td>rosannar</td><td> Rosanna Rizzi</td></tr>
        <tr><td>salimgereya</td><td> Salimgerey Adilov</td></tr>
        <tr><td>sandrak</td><td> Sandra Kaabel</td></tr>
        <tr><td>sandyb</td><td> Sandy Blake</td></tr>
        <tr><td>sanjab</td><td> Sanja Burazer</td></tr>
        <tr><td>sephirar</td><td> Sephira Riva</td></tr>
        <tr><td>shilovaa</td><td> Shilova Anastasiia</td></tr>
        <tr><td>sigridr</td><td> Sigrid Reiter</td></tr>
        <tr><td>simonp</td><td> Simon  Parsons</td></tr>
        <tr><td>stefanoc</td><td> Stefano Canossa</td></tr>
        <tr><td>stellap</td><td> Stella Grazia Pastore</td></tr>
        <tr><td>stephenb</td><td> Stephen Brooks</td></tr>
        <tr><td>stjepanp</td><td> Stjepan Prugovecki</td></tr>
        <tr><td>suttipongw</td><td> Suttipong Wannapaiboon</td></tr>
        <tr><td>theol</td><td> Théo Leduc</td></tr>
        <tr><td>tinad</td><td> Tina Dančević Momčilović</td></tr>
        <tr><td>veronikas</td><td> Veronika Sládková</td></tr>
        <tr><td>vladimirs</td><td> Vladimir Stilinović</td></tr>
        <tr><td>williamc</td><td> William Clegg</td></tr>
        <tr><td>wlodzimierzl</td><td> Włodzimierz Lewandowski</td></tr>
        <tr><td>worawatw</td><td> Worawat Wattanathana</td></tr>
        <tr><td>yuliat</td><td> Yulia Trushkina</td></tr>
        <tr><td>zorans</td><td> Zoran Štefanić</td></tr>
        <tr><td>zorap</td><td> Zora Popović</td></tr>
        </table>
        </div>
{% endblock %}
